<div class="center">
  <div class="text-center">
    <div class="sub_title">退会処理が完了しました</div>
    <p>ご利用ありがとうございました<br>
    またのご利用をお待ちしております。</p>

    <%#= link_to "トップページへ", root_path %>
    <%= link_to root_path do %>
      <button type="button" class="btn btn-secondary">トップページへ</button>
    <% end %>
  </div>
</div>
