<div class="row">
  <div class="col-sm-6 offset-sm-3 mt-3">
    <div class="row ml-0 mr-0">

    </div>

    <div class="row ml-0 mr-0 mt-3">
      <div class="text-center col-sm-12">
        <h3>全ての記録が閲覧できなくなりますがよろしいですか？</h3>
        <p>これまでの終了タスク数、継続記録、リカバリー記録、フォロー情報など<br>
        全ての記録、および会員情報鵜にアクセスできなくなります。</p>
      </div>
    </div>

    <div class="row ml-0 mr-0 mt-3">
      <div class="col-sm-6">
        <%#= link_to "マイページへ", user_path(@user), class: "btn btn" %>
        <%= link_to user_path(@user) do %>
          <button type="button" class="btn col-sm-8 offset-sm-2">マイページへ</button>
        <% end %>
      </div>

      <div class="col-sm-6">
        <%#= link_to "退会する", withdraw_users_path, method: :patch %>
        <%= link_to withdraw_users_path, method: :patch  do %>
          <button type="button" class="btn col-sm-8 offset-sm-2">退会する</button>
        <% end %>
      </div>
    </div>
  </div>
</div>



