<!--<div class="row">-->
<!--  <div class="col-sm-3">-->
<!--    <%#= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user:current_user } %>-->
<!--  </div>-->

<!--  <div class="col-sm-9 pr-5">-->
<!--    <h2 class="left">Gantt</h2><br>-->
<!--    <div class="line "></div>-->

<!--    <div class="row mr-0 ml-0">-->
<!--      <div class="gantt"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<%#= render 'gantt', locals: { values: @values } %>-->


<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user:current_user } %>
  </div>

  <div class="col-sm-9 pr-5">
    <h2 class="left">Gantt</h2><br>
    <div class="line "></div>

    <div class="row mr-0 ml-0">
      <div id="chart"></div>
    </div>
  </div>
</div>




<script src="d3.min.js"></script><!-- D3.js を読み込む -->
<script src="c3.min.js"></script><!-- C3.js を読み込む -->
<link href="c3.css" rel="stylesheet" type="text/css"><br>

<script>
var chart = c3.generate({
    bindto: '#chart',
    data: {
        columns: [
            ['data1', 30, 200, 100, 400, 150, 250],
            ['data2', 130, 100, 140, 200, 150, 50]
        ],
        type: 'bar'
    }
});
</script>

<!--var demoSource = [];-->
<!--  values.forEach((value) => {-->
      
<!--      var demoSoureItem = {-->
<!--          name: value.name,-->
<!--          desc: value.desc,-->
<!--          values: []v -->
<!--      };-->
<!--      demoSource.push(demoSoureItem);-->
<!--  });-->