        <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->

        <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" rel="stylesheet" type="text/css">-->
        <!--<style type="text/css">-->
        <!--    body {-->
        <!--        font-family: Helvetica, Arial, sans-serif;-->
        <!--        font-size: 13px;-->
        <!--        padding: 0 0 50px 0;-->
        <!--    }-->
        <!--    h1 {-->
        <!--        margin: 40px 0 20px 0;-->
        <!--    }-->
        <!--    h2 {-->
        <!--        font-size: 1.5em;-->
        <!--        padding-bottom: 3px;-->
        <!--        border-bottom: 1px solid #DDD;-->
        <!--        margin-top: 50px;-->
        <!--        margin-bottom: 25px;-->
        <!--    }-->
        <!--    table th:first-child {-->
        <!--        width: 150px;-->
        <!--    }-->
        <!--    .github-corner:hover .octo-arm {-->
        <!--        animation: octocat-wave 560ms ease-in-out-->
        <!--    }-->
        <!--    @keyframes octocat-wave {-->
        <!--        0%, 100% {-->
        <!--            transform: rotate(0)-->
        <!--        }-->
        <!--        20%, 60% {-->
        <!--            transform: rotate(-25deg)-->
        <!--        }-->
        <!--        40%, 80% {-->
        <!--            transform: rotate(10deg)-->
        <!--        }-->
        <!--    }-->
        <!--    @media (max-width:500px) {-->
        <!--        .github-corner:hover .octo-arm {-->
        <!--            animation: none-->
        <!--        }-->
        <!--        .github-corner .octo-arm {-->
        <!--            animation: octocat-wave 560ms ease-in-out-->
        <!--        }-->
        <!--    }-->
        <!--</style>-->

        <!--<div class="container">-->

        <!--    <h1>-->
        <!--        jQuery.Gantt-->
        <!--        <small>&mdash; Draw Gantt charts with the famous jQuery ease of development</small>-->
        <!--    </h1>-->

        <!--    <h2 id="contributors">Contributors</h2>-->
        <!--    <ul>-->
        <!--        <li>-->
        <!--            <strong><a href="http://mbielanczuk.com/" target="_blank">Marek Bielańczuk</a></strong> wrote the original jQuery.Gantt plugin that this version is based off of.-->
        <!--        </li>-->
        <!--        <li>-->
        <!--            <strong><a href="http://taitbrown.com/" target="_blank">Tait Brown</a></strong> enforced stricter code guidelines by validating the code, updating it to support HTML5 and tweaking the design.-->
        <!--        </li>-->
        <!--        <li>-->
        <!--            <strong><a href="mailto:leo.pfeifenberger%40googlemail.com">Leo Pfeifenberger</a></strong> made <em>major</em> performance updates as well as adding requested features such as click events, state persisting via cookies and scrollToToday on load functionality.-->
        <!--        </li>-->
        <!--        <li>-->
        <!--            <strong><a href="mailto:grzegorz.russek%40gmail.com">Grzegorz Russek</a></strong> helped fix the White Whale of a bug that prevented the hour view rendering correctly. Nice one.-->
        <!--        </li>-->
        <!--        <li>-->
        <!--        <strong><a href="https://github.com/taitems/jQuery.Gantt/graphs/contributors" target="_blank">Many more from the GitHub community</a></strong>-->
        <!--        </li>-->
        <!--    </ul>-->

        <!--    <h2 id="example">-->
        <!--        Example-->
        <!--    </h2>-->

            <div class="gantt"></div>



            <!--<h2 id="config">-->
            <!--    Gantt Configuration-->
            <!--</h2>-->


    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>-->


<!--ここから、gemのgonを使ってコントローラから部分テンプレート内のjsにユーザが入力したデータを入れる仕組みを整えれば完成-->
    <%= render 'gantt', locals: { testtest: "テストさん"} %>
