<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/side', { daily_clear: @daily_clear, daily_clear_status: @daily_clear_status, mission: @mission, user:current_user } %>
  </div>

  <div class="col-sm-9 pr-5">
    <h2 class="left">Calendar</h2><br>
    <div class="line "></div>

    <div class="row mr-0 ml-0">
      <div id="calendar"></div>
    </div>
  </div>
</div>


