<h1>DailyClears#show</h1>

<label>result</label><br>
<label><%= @mission.title %></label><br>
<label>Today's Mission Clear!</label><br>
<label><%= "Total " + @daily_records.to_s %></label><br>
<%= link_to "Work Spaceへ戻る", mission_path(@mission.id) %>