
<%= link_to "ログインまたはSNSアカウントで始める", new_user_session_path %>
<%= link_to "新規登録を行う", new_user_registration_path %>

<ul class="bxslider">
  <li><img src="/img/pic1.jpg" /></li>
  <li><img src="/img/pic2.jpg" /></li>
  <li><img src="/img/pic3.jpg" /></li>
</ul>

<script>
  $(function(){
    $('.bxslider').bxSlider({
    	auto:true
    });
  });
</script>
