<div class="row pl-0 pr-0">
  <div class="col-sm-1 writing-mode pl-4 pr-4">
    <p class="writing-mode-text">TimeAttack&Record Application</p>
  </div>
  <div class="col-sm-6">
    <ul class="bxslider">
      <li><img src="/img/view1.jpg"></li>
      <li><img src="/img/view2new.jpg"></li>
      <li><img src="/img/view3new.jpg"></li>
      <li><img src="/img/view4new.jpg"></li>
      <li><img src="/img/view5new.jpg"></li>
    </ul>
  </div>
  
  <div class="col-sm-5 pl-5 pr-5">
    <h2 class="font-main size-main-title mb-3">Active</h2>
    <p class="pl-2">継続をサポートするシンプルな記録アプリです。<br><br>
    自身の設定した目標に対して<br>記録したい事柄を一つ決めてログを残します。<br><br>
    また日々の細かい作業に対して<br>予め終了の予測時刻をセットし実際の終了時刻と比較する<br>
    TimeAttack機能やカレンダーページなどを用意しています。<br>
    </p><br><br>
  
    <%= link_to "ログイン/SNSアカウントで始める", new_user_session_path, class: "btn_4 col-sm-10 text-center mb-3" %>
    <%= link_to "新規登録を行う", new_user_registration_path, class: "btn_4 col-sm-10 text-center" %>
    
      
   
  </div>
</div>








<script>
  $(function(){
    $('.bxslider').bxSlider({
    	auto:true
    });
  });
</script>

