/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";

// # 変更前
// body {
//   background-image: url("hoge.jpg");
// }

// 変更後
// body {
//   background-image: image-url("hoge.jpg");
// }

*{
  color: #424242;
  background-color: #EFEFEF;
}

.background {
  background-color: #EFEFEF;
}

header {
  height: 70px;
  margin-bottom: 10px;
}


// footerの下部固定css
.footerFixed{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 70px;/* ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer {
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  width: 100%;
  padding: 35px 0;
  margin-top: 10px;
}

a { display: block; } //リンクの反応範囲の拡張
a:link { color: #424242; } //  未訪問のリンク
a:visited { color: #424242; } //  訪問済みのリンク
a:hover {
  background-color: #d6d6d6;
  text-decoration: none !important;
} //  ポイント時のリンク
// a:active { color: #424242;}


// 複数回参照する可能性のあるクラス群

// 文字の大きさ(見出し類)
h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 10px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

// 線
.line {
  width: 100%;
  height: 6px;
  margin: 20px 0;
  background: #efefef;
  box-shadow: inset 2px 2px 3px #e3e3e3,
              inset -2px -2px 3px #fbfbfb;
}

.line_vert {
  width: 6px;
  height: 100%;
  margin: 0 auto;
  background: #efefef;
  box-shadow: inset 2px 2px 3px #e3e3e3,
              inset -2px -2px 3px #fbfbfb;
}

.border {
  border: solid 2px #ffffff;
  border-color: #ffffff !important;
  margin: 5px;
}

// 取り消し線
.finish {
  background-image: linear-gradient(#e85d76, #e85d76);
  background-position: 0 60%;
  background-size: 50% 2px;
  background-repeat: repeat-x;
  color: #888;
  text-decoration: none;
}

.finish > span {
  color: #424242;
}

// ボタン
.btn {
  border-radius: 7px;
  padding: 8px 50px;
  border: 0 none;
  background: #525252;
  color: #FFFFFF !important;;
}

// ボタンの挙動
.btn_totsu:hover, .btn:hover {
  opacity: 0.6 ;
  cursor : pointer;
}

// ニューモフィズム(全4種類/凹or凸 × 通常div or btn)
.ou {
 border-radius: 7px;
 background: #efefef;
 box-shadow: inset 7px 7px 15px #d7d7d7,
            inset -7px -7px 15px #ffffff;
 padding: 20px 25px 20px 25px;
}

.btn_ou {
 border-radius: 7px;
 background: #efefef;
 box-shadow: inset 5px 5px 7px #c6c6c6,
             inset -5px -5px 7px #ffffff;
 padding: 8px 25px;
 border: 0 none;
// background: #525252;
// color: #FFFFFF;
}

.totsu {
 border-radius: 7px;
 background: #efefef;
 box-shadow:  7px 7px 15px #d7d7d7,
             -7px -7px 15px #ffffff;
  padding: 20px 25px 20px 25px;
}

.btn_totsu {
 border-radius: 7px;
 padding: 8px 25px;
 border: 0 none;
 background: #efefef;
 box-shadow:  5px 5px 15px #d7d7d7,
             -5px -5px 15px #ffffff;
 color: #FFFFFF;
}

// 色
// daily_clearボタン使用色
.color-1 {
  background-color: #ca9aff;
  background-image: -webkit-linear-gradient(36deg, #ca9aff 0%, #ffb09e 100%);
  background-image: -moz-linear-gradient(36deg, #ca9aff 0%, #ffb09e 100%);
  background-image: -o-linear-gradient(36deg, #ca9aff 0%, #ffb09e 100%);
  background-image: linear-gradient(126deg, #ca9aff 0%, #ffb09e 100%);
}

// 半透明ボタンなど(背景色半透明/文字白)
.color-2 {
  background-color: rgba( 255, 255, 255, 0.3 );
  font-weight: bold;
  color: #ffffff;
}

// クリアページなど(背景色透明/文字白)
.color-3 {
  background-color: transparent;
  color: #ffffff;
}

// 背景の透過
.color-4 {
  background-color: transparent ;
}

.color-5 {
  background-color: #e5617e;
}

.color-6 {
  background-color: #77c6e5;
}


// 配置
.left {
  text-align: left;
  float: left;
}

.right {
  text-align: right;
}

.center {
  margin: 0 auto;
}

